<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Page Title</title>
</head>

<body>
    <div id="app">
        <!-- font-size err, use camelCase -->
        <ol :style="{ fontSize: postFontSize + 'em' }">
            <!-- kebab-case for PascalCase, if use inline DOM withOUT sfc.vue -->
            <!--todo-item @event-enlarge-text="postFontSize += 0.1" v-for="item in groceryList" :todo-item-prop="item" :key="item.id"></todo-item-->
            <li is="vue:todo-item" @event-enlarge-text="postFontSize += 0.1" v-for="item in groceryList" :todo-item-prop="item" :key="item.id"></li>            
        </ol>
    </div>
</body>

<script type="importmap">
    {
        "imports": {
          "vue": "/js/unpkg.com_vue@3.3.4_dist_vue.esm-browser.js"          
        }
    }
</script>

<script type="module">
    import { createApp, ref } from 'vue'
    import TodoItem from '/js/TodoItem.js'

    createApp({
        components: {
            TodoItem
        },
        setup() {
            const postFontSize = ref(1)

            const groceryList = ref([
                { id: 0, text: 'Vegetables' },
                { id: 1, text: 'Cheese' },
                { id: 2, text: 'Whatever else humans are supposed to eat' }
            ])

            return {
                groceryList,
                postFontSize
            }
        }
    }).mount('#app')
</script>


</html>